.animation {
  transition: 1s;
}

body {
  margin: 0;
  padding: 2vw;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2vw;
  column-gap: 1.2vw;
  transition: background-color 0.8s ease;
}

#c1, #c2, #c3, #c4, #c5, #c6 {
  display: flex;
  justify-content: center;
}

.image {
  grid-column: 1 / -1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image img {
  width: 40px;
  height: auto;
  padding: 10px;
}

@media (min-width: 800px) {
  body {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1200px) {
  body {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 2000px) {
  body {
    grid-template-columns: repeat(4, 1fr);
  }
}

#c1:hover, #c1:hover ~ .animation, #c1:hover ~ .image {
  filter: invert(100%);
}

body:has(#c1:hover) {
  background: #000000;
}